# workflow syntax guide: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: Dev Deployment Workflow



on: 
    # Allows branch-specific invocation from UI or POST:
    # Get workflow ID:
    #   curl https://api.github.com/repos/jonathan-egger/hello-github-actions/actions/workflows \
    #       --header 'Accept: application/vnd.github.v3+json' -k 
    # POST to branch feature/testing using workflow ID 6837135
    #   curl --location --request POST 'https://api.github.com/repos/jonathan-egger/hello-github-actions/actions/workflows/6837135/dispatches' \
    #       --header 'Accept: application/vnd.github.v3+json' \
    #       --header 'Authorization: Basic OjMzZTQ0MTIxZDk4MjFhMzdmNGY0MzI0YTA1ODY1YWVmMDgwNTIxMDE=' \
    #       --data-raw '{"ref":"feature/testing", "inputs": {"stackname": "devopsstack0123456"}}' -k

    workflow_dispatch:
        inputs:
            stackname:
                description: Devops provisioned VM stack
                required: true

jobs:
    initialize_params:
        runs-on: ubuntu-latest
        outputs:
            short_sha: ${{ steps.determine_short_sha.outputs.short_sha }}
        steps:
        - id: determine_short_sha
          run: |
            echo "::set-output name=short_sha::$(echo "$GITHUB_SHA" | cut -c1-8)" 

    show_params:
        needs: initialize_params
        runs-on: ubuntu-latest
        steps:
        - run: |
            echo "stack name: ${{ github.event.inputs.stackname }}"
            echo "repo: ${{ github.event.repository.name }}"
            echo "branch: ${{ github.ref }}"
            echo "short_sha: ${{ needs.initialize_params.outputs.short_sha }}"

    validate_branch:
        # outputs:
        #     status: ${{ !contains(steps.*.conclusion, 'failure') }}
        runs-on: ubuntu-latest
        steps:
        - run: |
            if [[ ${{ github.event.ref }} != refs/heads/release/* ]] 
            then 
                echo "Validation failed: This workflow requires a release branch. Instead, branch is ${{ github.event.ref }}"
                exit 1
            fi

    identify_artifact:
        needs: [initialize_params, validate_branch]
        runs-on: ubuntu-latest
        steps:
        - uses: jfrog/setup-jfrog-cli@v1
          env:
            JFROG_CLI_LOG_LEVEL: DEBUG
            JF_ARTIFACTORY_1: ${{ secrets.JF_ARTIFACTORY_SECRET_1 }}
        - run: |
            jfrog --version
            jfrog rt use jegger-frog-artifactory
            jfrog rt ping
            echo "would normally be jfrog rt search "*/${{ github.event.repository.name }}-*-${{ needs.initialize_params.outputs.shart_sha }}*.jar"
            jfrog rt search "*/apigee-edge-maven-*-20210316*.jar"
        - run: |
            ls

    # identify_artifact:
    #     # Getting this to work.
    #     # Mostly follow: https://github.com/marketplace/actions/setup-jfrog-cli
    #     # Those instructions suggest "jfrog rt c <server id>". That command is deprecated.
    #     # Instead, use "jfrog c add <server id>"
    #     # With that command you must specify http://<platform url>/artifactory as BOTH
    #     # the "JFrog platform URL" and the "JFrog Artifactory URL." Otherwise the ping command
    #     # will not work (since it uses the platform URL which returns 404 at the root).
    #         - uses: jfrog/setup-jfrog-cli@v1
    #           env:
    #             JFROG_CLI_LOG_LEVEL: DEBUG
    #             JF_ARTIFACTORY_1: ${{ secrets.JF_ARTIFACTORY_SECRET_1 }}
    #         - run: |
    #             jfrog --version
    #             jfrog rt use jegger-frog-artifactory
    #             jfrog rt ping
    #             jfrog rt dl my-maven-repo/io/apigee/build-tools/enterprise4g/apigee-edge-maven-plugin/2.1.1-SNAPSHOT/apigee-edge-maven-plugin-2.1.1-20210316.160210-1.jar
    #         - run: ls


    # build:
    #     name: Hello world action
    #     runs-on: ubuntu-latest
    #     steps:
    #         # Without this line will get:
    #         # Error: Can't find 'action.yml', 'action.yaml' or 'Dockerfile' under '/home/runner/work/hello-github-actions/hello-github-actions/action-a'. Did you forget to run actions/checkout before running your local action?
    #         - uses: actions/checkout@v1

    #         - run: |
    #             echo "github.event.ref: ${{ github.event.ref }}"
    #             echo "github.event.before: ${{ github.event.before }}"
    #             echo "github.event.after: ${{ github.event.after }}"
    #             echo "github.event.sha: $GITHUB_SHA"
    #             echo "event name: $(GITHUB_EVENT_NAME)"
    #             echo "event name2: ${{ github.event_name }}"
    #             env
    #             echo "github.event.inputs.name: ${{ github.event.inputs.name }}"

            # - uses: ./action-a
            #   with:
            #     MY_NAME: ${{ github.event.inputs.name }}

        # Getting this to work.
        # Mostly follow: https://github.com/marketplace/actions/setup-jfrog-cli
        # Those instructions suggest "jfrog rt c <server id>". That command is deprecated.
        # Instead, use "jfrog c add <server id>"
        # With that command you must specify http://<platform url>/artifactory as BOTH
        # the "JFrog platform URL" and the "JFrog Artifactory URL." Otherwise the ping command
        # will not work (since it uses the platform URL which returns 404 at the root).
            # - uses: jfrog/setup-jfrog-cli@v1
            #   env:
            #     JFROG_CLI_LOG_LEVEL: DEBUG
            #     JF_ARTIFACTORY_1: ${{ secrets.JF_ARTIFACTORY_SECRET_1 }}
            # - run: |
            #     jfrog --version
            #     jfrog rt use jegger-frog-artifactory
            #     jfrog rt ping
            #     jfrog rt dl my-maven-repo/io/apigee/build-tools/enterprise4g/apigee-edge-maven-plugin/2.1.1-SNAPSHOT/apigee-edge-maven-plugin-2.1.1-20210316.160210-1.jar
            
            # - run: ls
