name: A workflow for my Hello World file
on: 
    # push:
    #     inputs:
    #         name:
    #             description: Your name
    #             default: Jonathan2
    #             required: true
    workflow_dispatch:
        inputs:
            name:
                description: Your name
                default: Jonathan
                required: true
    create:

jobs:
    build:
        name: Hello world action
        runs-on: ubuntu-latest
        steps:
            # Without this line will get:
            # Error: Can't find 'action.yml', 'action.yaml' or 'Dockerfile' under '/home/runner/work/hello-github-actions/hello-github-actions/action-a'. Did you forget to run actions/checkout before running your local action?
            - uses: actions/checkout@v1

            - run: |
                echo "Value: ${{ github.event.ref }}"
            - uses: ./action-a
              with:
                MY_NAME: ${{ github.event.inputs.name }}

            - uses: jfrog/setup-jfrog-cli@v1
            - run: |
                jfrog --version
                jfrog rt ping --url=https/jegger.jfrog.io/artifactory