name: A workflow for my Hello World file
on: 
    push
    workflow_dispatch:
        inputs:
            name:
                description: Your name
                default: Jonathan
                required: true

jobs:
    build:
        name: Hello world action
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: ./action-a
              with:
                MY_NAME: ${{ github.event.inputs.name }}