name: A workflow for my Hello World file
on: 
    push:
        inputs:
            name:
                description: Your name
                default: Jonathan2
                required: true
    workflow_dispatch:
        inputs:
            name:
                description: Your name
                default: Jonathan
                required: true

jobs:
    show_push_vars:
        runs-on: ubuntu-latest
  
        steps:
            if: github.event_name == 'push'
            - run: |
                echo "github.event.ref: ${{ github.event.ref }}"
                echo "github.event.before: ${{ github.event.before }}"
                echo "github.event.after: ${{ github.event.after }}"
                echo "event name2: ${{ github.event_name }}"
                env
                echo "github.event.inputs.name: ${{ github.event.inputs.name }}"
                echo "where_am_i=in_push" >> $GITHUB_ENV


            
    show_other_vars:
        runs-on: ubuntu-latest
        if: github.event_name != 'push'
    
        steps:
            - run: |
                echo "github.event.ref: ${{ github.event.ref }}"
                echo "github.event.action: ${{ github.event.action }}"
                echo "github.event.workflow_run.head_branch: ${{ github.event.workflow_run.head_branch }}"
                echo "event name2: ${{ github.event_name }}"
                env
                echo "github.event.inputs.name: ${{ github.event.inputs.name }}"
                echo "where_am_i=not_in_push" >> $GITHUB_ENV
        

    # build:
    #     name: Hello world action
    #     runs-on: ubuntu-latest
    #     steps:
    #         # Without this line will get:
    #         # Error: Can't find 'action.yml', 'action.yaml' or 'Dockerfile' under '/home/runner/work/hello-github-actions/hello-github-actions/action-a'. Did you forget to run actions/checkout before running your local action?
    #         - uses: actions/checkout@v1

    #         - run: |
    #             echo "github.event.ref: ${{ github.event.ref }}"
    #             echo "github.event.before: ${{ github.event.before }}"
    #             echo "github.event.after: ${{ github.event.after }}"
    #             echo "github.event.sha: $GITHUB_SHA"
    #             echo "event name: $(GITHUB_EVENT_NAME)"
    #             echo "event name2: ${{ github.event_name }}"
    #             env
    #             echo "github.event.inputs.name: ${{ github.event.inputs.name }}"

            # - uses: ./action-a
            #   with:
            #     MY_NAME: ${{ github.event.inputs.name }}

        # Getting this to work.
        # Mostly follow: https://github.com/marketplace/actions/setup-jfrog-cli
        # Those instructions suggest "jfrog rt c <server id>". That command is deprecated.
        # Instead, use "jfrog c add <server id>"
        # With that command you must specify http://<platform url>/artifactory as BOTH
        # the "JFrog platform URL" and the "JFrog Artifactory URL." Otherwise the ping command
        # will not work (since it uses the platform URL which returns 404 at the root).
            # - uses: jfrog/setup-jfrog-cli@v1
            #   env:
            #     JFROG_CLI_LOG_LEVEL: DEBUG
            #     JF_ARTIFACTORY_1: ${{ secrets.JF_ARTIFACTORY_SECRET_1 }}
            # - run: |
            #     jfrog --version
            #     jfrog rt use jegger-frog-artifactory
            #     jfrog rt ping
            #     jfrog rt dl my-maven-repo/io/apigee/build-tools/enterprise4g/apigee-edge-maven-plugin/2.1.1-SNAPSHOT/apigee-edge-maven-plugin-2.1.1-20210316.160210-1.jar
            
            # - run: ls